In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Question 1

In [3]:
pd.__version__

'2.2.2'

In [65]:
df = pd.read_csv(r'C:\Users\norteye\Desktop\car_fuel_efficiency.csv')
df.head(10)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
9,150,4.0,123.0,3509.036569,10.2,2005,USA,Gasoline,Front-wheel drive,-1.0,12.298355

 ## Question 2

In [50]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

There are 9704 counts

## Question 3

In [53]:
df.fuel_type.nunique()

2

## Question 4

In [55]:
df.isnull().sum

<bound method DataFrame.sum of       engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                   False          False       False           False
1                   False          False       False           False
2                   False           True       False           False
3                   False          False        True           False
4                   False          False       False           False
...                   ...            ...         ...             ...
9699                False          False       False           False
9700                False           True       False           False
9701                False          False       False           False
9702                False          False       False           False
9703                False          False       False           False

      acceleration  model_year  origin  fuel_type  drivetrain  num_doors  \
0            False       False   False      False       False      False
1            False       False   False      False       False      False
2            False       False   False      False       False      False
3            False       False   False      False       False      False
4            False       False   False      False       False      False
...            ...         ...     ...        ...         ...        ...
9699         False       False   False      False       False       True
9700         False       False   False      False       False      False
9701         False       False   False      False       False      False
9702         False       False   False      False       False      False
9703         False       False   False      False       False      False

      fuel_efficiency_mpg
0                   False
1                   False
2                   False
3                   False
4                   False
...                   ...
9699                False
9700                False
9701                False
9702                False
9703                False

[9704 rows x 11 columns]>

There are 4 missing values

## Question 5

In [75]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

## Question 6

In [94]:
df['horsepower'].median() #the median value of the horsepower column

149.0

In [96]:
df['horsepower'].mode() #the most frequent value of the horsepower column

0    152.0
Name: horsepower, dtype: float64

In [98]:

most_frequent_hp = df.horsepower.mode() #  Get the mode 


df['horsepower'] = df['horsepower'].fillna(most_frequent_hp) #  Fill missing values with the mode

most_frequent_hp

0    152.0
Name: horsepower, dtype: float64

In [102]:
median_after = df['horsepower'].median()
print("Median after filling missing values:", median_after)

Median after filling missing values: 149.0

No, there hwas no chnage.

## Question 7

In [105]:
asian_cars = df[df['origin'] == 'Asia']

asian_cars

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [129]:
v_m = asian_cars[['vehicle_weight', 'model_year']]

v_m

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [131]:
v_m.head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [151]:
X = np.array([
    [2714.21930965, 2016.],
    [2783.86897424, 2010.],
    [3582.68736772, 2007.],
    [2231.8081416,  2011.],
    [2659.43145076, 2016.],
    [2844.22753389, 2014.],
    [3761.99403819, 2019.]
])

In [159]:
XTX= X.T.dot(X)

XTX

array([[62248334.33155204, 41431216.50734067],
       [41431216.50734067, 28373339.        ]])

In [169]:
inverse=np.linalg.inv(XTX)

In [165]:
y=np.array([1100,1300,800,900,1000,1100,1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [191]:

inverse = np.linalg.inv(XTX)
result=inverse.dot(X.T)

w=result.dot(y)
w

array([0.01386421, 0.5049067 ])

In [193]:
sum(w)

0.5187709081078715